.about-img {
    border: medium;
    border-radius: 50px;
    height: 450px;
}

@media (max-width: 700px) {
    .about-img {

        border-radius: 50%;
        height: 330px;
        padding-right: 7%;
        padding-left: 7%;

    }
}