
.brand-wrap {
    padding-top: 40px;
    padding-bottom: 40px;

}


@media only screen and (max-width: 700px) {

    .social {
        font-size: 12px;
    }

    .brand-wrap {
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 30px;
    }

}