.banner {
  background-image: url("../../asset/img/banner.webp");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  height: 70vh;
}
.project-panel{
  border-radius: 20px;
  margin-bottom: 30px;
}

.music-box{
  border-style: solid;
  border-radius: 20px;
}